<!--views/book_list.ejs-->
<!DOCTYPE html>
<html>
	<head>
		<% include partials/header %>
	</head>
	<body>
		<nav class="navbar navbar-toggleable-md  navbar-light bg-faded " style="background-color: #ee44aa;">		
			<% include partials/navbar %>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
					<sidebar>
						<% include partials/sidebar %>				
					</sidebar>
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-9">
					<content>
						<div class="content-heading">
						<h1><%=title%></h1>
						<div class="list-group">
							<%if(books){%>
								<%books.forEach(function(book){%>
									<a class="list-group-item list-group-item-action" href="<%=book.url%>" >			
										<div class="media">
											<img class="book-img d-flex mr-3" src="<%=book.imgurl%>" alt="<%=book.title%>">
											<div class="media-body">
												<h4 class="mt-0"><%=book.title%></h4>
												<p><%=book.author.name%></p>
												<p class="book-isbn-style">ISBN13: <%=book.isbn%></p>
											</div>
										</div>				
									</a>		
								<%})%>
							<%}else{%>
								<p>There are no books.</p>
							<%}%>	
						</div>
						</div>  
					</content>
				</div>
			</div>
			<br>
			<footer>
				<% include partials/footer %>
			</footer>
		</div>
</body>
</html>